In [2]:
import requests
import pandas as pd
import numpy as np
import plotly.express as px
import folium
import json

In [3]:
lpd = pd.read_csv('laadpaaldata.csv')

In [4]:
###Inladen API - kijk naar country code en maxresults
response = requests.get('https://api.openchargemap.io/v3/poi/?output=json&countrycode=NL&maxresults=1000&compact=true&verbose=false&key=772ba88b-50db-49f1-b9f1-933c6053edd3')
response.status_code

200

In [5]:
###Omzetten naar dictionary
json_lp = response.json()

In [6]:
###Dataframe bevat kolom die een list zijn. 
#Met json_normalize zet je de eerste kolom om naar losse kolommen
opencharge = pd.json_normalize(json_lp)
#Daarna nog handmatig kijken welke kolommen over zijn in dit geval Connections
#Kijken naar eerst laadpaal op de locatie
#Kan je uitpakken middels:
df4 = pd.json_normalize(opencharge.Connections)
df5 = pd.json_normalize(df4[0])
df5.head()
###Bestanden samenvoegen
ocm = pd.concat([opencharge, df5], axis=1)
ocm.head()

,IsRecentlyVerified,DateLastVerified,ID,UUID,DataProviderID,OperatorID,UsageTypeID,Connections,NumberOfPoints,StatusTypeID,...,ConnectionTypeID,StatusTypeID,LevelID,PowerKW,CurrentTypeID,Quantity,Reference,Amps,Voltage,Comments
0,True,2023-03-21T12:10:00Z,258262,03D9A1C1-B6F8-412E-AD98-BCE427A2E323,1,103.0,4.0,"[{'ID': 431516, 'ConnectionTypeID': 33, 'Statu...",1.0,50,...,33.0,50.0,3.0,50.0,30.0,1.0,NaN,NaN,NaN,NaN
1,True,2023-03-15T11:19:00Z,256957,C274DD57-63EE-4953-8723-61A928DC8A64,1,1.0,6.0,[],1.0,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,2023-03-04T15:56:00Z,238390,54DE6F07-8F83-4D6C-AC5C-F46C3CC5AF40,1,47.0,4.0,"[{'ID': 392175, 'ConnectionTypeID': 33, 'Statu...",1.0,50,...,33.0,50.0,3.0,50.0,30.0,1.0,NaN,NaN,NaN,NaN
3,True,2023-03-04T15:52:00Z,238389,2A59654E-C064-4234-AD9F-9E814387FE0B,1,47.0,4.0,"[{'ID': 392173, 'ConnectionTypeID': 33, 'Statu...",6.0,50,...,33.0,50.0,3.0,175.0,30.0,6.0,NaN,NaN,NaN,NaN
4,True,2023-03-04T15:49:00Z,238388,2C11156F-072A-416A-9489-B2D96889BD9F,1,47.0,4.0,"[{'ID': 392171, 'ConnectionTypeID': 33, 'Statu...",1.0,50,...,33.0,50.0,3.0,50.0,30.0,1.0,NaN,NaN,NaN,NaN

In [7]:
###Inladen API - kijk naar country code en maxresults
response_ev = requests.get('https://opendata.rdw.nl/resource/8jni-y848.json')
response_ev.status_code

200

In [8]:
###Omzetten naar dictionary
json_ev = response_ev.json()

In [9]:
#build dataframe from json_ev
rdw = pd.DataFrame(json_ev)

In [10]:
ocm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 45 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   IsRecentlyVerified             1000 non-null   bool
 1   DateLastVerified               1000 non-null   object
 2   ID                             1000 non-null   int64
 3   UUID                           1000 non-null   object
 4   DataProviderID                 1000 non-null   int64
 5   OperatorID                     989 non-null    float64
 6   UsageTypeID                    455 non-null    float64
 7   Connections                    1000 non-null   object
 8   NumberOfPoints                 999 non-null    float64
 9   StatusTypeID                   1000 non-null   int64
 10  DateLastStatusUpdate           1000 non-null   object
 11  DataQualityLevel               1000 non-null   int64
 12  DateCreated                    1000 non-null   object
 13  SubmissionStatusTypeID         1000 non-null   int64
 14  AddressInfo.ID                 1000 non-null   int64
 15  AddressInfo.Title              1000 non-null   object
 16  AddressInfo.AddressLine1       1000 non-null   object
 17  AddressInfo.Town               985 non-null    object
 18  AddressInfo.StateOrProvince    244 non-null    object
 19  AddressInfo.Postcode           969 non-null    object
 20  AddressInfo.CountryID          1000 non-null   int64
 21  AddressInfo.Latitude           1000 non-null   float64
 22  AddressInfo.Longitude          1000 non-null   float64
 23  AddressInfo.DistanceUnit       1000 non-null   int64
 24  GeneralComments                168 non-null    object
 25  AddressInfo.RelatedURL         636 non-null    object
 26  UsageCost                      705 non-null    object
 27  AddressInfo.AddressLine2       50 non-null     object
 28  AddressInfo.AccessComments     76 non-null     object
 29  AddressInfo.ContactTelephone1  350 non-null    object
 30  AddressInfo.ContactEmail       26 non-null     object
 31  AddressInfo.ContactTelephone2  16 non-null     object
 32  OperatorsReference             683 non-null    object
 33  DataProvidersReference         538 non-null    object
 34  ID                             992 non-null    float64
 35  ConnectionTypeID               992 non-null    float64
 36  StatusTypeID                   445 non-null    float64
 37  LevelID                        975 non-null    float64
 38  PowerKW                        963 non-null    float64
 39  CurrentTypeID                  948 non-null    float64
 40  Quantity                       417 non-null    float64
 41  Reference                      26 non-null     object
 42  Amps                           231 non-null    float64
 43  Voltage                        226 non-null    float64
 44  Comments                       5 non-null      object
dtypes: bool(1), float64(14), int64(8), object(22)
memory usage: 344.9+ KB

In [11]:
ocm.head()

,IsRecentlyVerified,DateLastVerified,ID,UUID,DataProviderID,OperatorID,UsageTypeID,Connections,NumberOfPoints,StatusTypeID,...,ConnectionTypeID,StatusTypeID,LevelID,PowerKW,CurrentTypeID,Quantity,Reference,Amps,Voltage,Comments
0,True,2023-03-21T12:10:00Z,258262,03D9A1C1-B6F8-412E-AD98-BCE427A2E323,1,103.0,4.0,"[{'ID': 431516, 'ConnectionTypeID': 33, 'Statu...",1.0,50,...,33.0,50.0,3.0,50.0,30.0,1.0,NaN,NaN,NaN,NaN
1,True,2023-03-15T11:19:00Z,256957,C274DD57-63EE-4953-8723-61A928DC8A64,1,1.0,6.0,[],1.0,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,2023-03-04T15:56:00Z,238390,54DE6F07-8F83-4D6C-AC5C-F46C3CC5AF40,1,47.0,4.0,"[{'ID': 392175, 'ConnectionTypeID': 33, 'Statu...",1.0,50,...,33.0,50.0,3.0,50.0,30.0,1.0,NaN,NaN,NaN,NaN
3,True,2023-03-04T15:52:00Z,238389,2A59654E-C064-4234-AD9F-9E814387FE0B,1,47.0,4.0,"[{'ID': 392173, 'ConnectionTypeID': 33, 'Statu...",6.0,50,...,33.0,50.0,3.0,175.0,30.0,6.0,NaN,NaN,NaN,NaN
4,True,2023-03-04T15:49:00Z,238388,2C11156F-072A-416A-9489-B2D96889BD9F,1,47.0,4.0,"[{'ID': 392171, 'ConnectionTypeID': 33, 'Statu...",1.0,50,...,33.0,50.0,3.0,50.0,30.0,1.0,NaN,NaN,NaN,NaN

In [12]:
rdw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 60 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   kenteken                                                  1000 non-null   object
 1   voertuigsoort                                             1000 non-null   object
 2   merk                                                      1000 non-null   object
 3   handelsbenaming                                           1000 non-null   object
 4   vervaldatum_apk                                           998 non-null    object
 5   datum_tenaamstelling                                      998 non-null    object
 6   inrichting                                                1000 non-null   object
 7   aantal_zitplaatsen                                        1000 non-null   object
 8   eerste_kleur                                              1000 non-null   object
 9   tweede_kleur                                              1000 non-null   object
 10  massa_ledig_voertuig                                      1000 non-null   object
 11  toegestane_maximum_massa_voertuig                         1000 non-null   object
 12  massa_rijklaar                                            1000 non-null   object
 13  datum_eerste_toelating                                    1000 non-null   object
 14  datum_eerste_tenaamstelling_in_nederland                  998 non-null    object
 15  wacht_op_keuren                                           1000 non-null   object
 16  catalogusprijs                                            1000 non-null   object
 17  wam_verzekerd                                             1000 non-null   object
 18  maximale_constructiesnelheid                              1000 non-null   object
 19  aantal_deuren                                             1000 non-null   object
 20  aantal_wielen                                             1000 non-null   object
 21  afstand_hart_koppeling_tot_achterzijde_voertuig           962 non-null    object
 22  afstand_voorzijde_voertuig_tot_hart_koppeling             962 non-null    object
 23  lengte                                                    994 non-null    object
 24  breedte                                                   999 non-null    object
 25  europese_voertuigcategorie                                1000 non-null   object
 26  plaats_chassisnummer                                      8 non-null      object
 27  technische_max_massa_voertuig                             1000 non-null   object
 28  type                                                      1000 non-null   object
 29  typegoedkeuringsnummer                                    978 non-null    object
 30  variant                                                   978 non-null    object
 31  uitvoering                                                978 non-null    object
 32  volgnummer_wijziging_eu_typegoedkeuring                   978 non-null    object
 33  vermogen_massarijklaar                                    1000 non-null   object
 34  wielbasis                                                 1000 non-null   object
 35  export_indicator                                          1000 non-null   object
 36  openstaande_terugroepactie_indicator                      1000 non-null   object
 37  taxi_indicator                                            1000 non-null   object
 38  maximum_massa_samenstelling                               984 non-null    object
 39  aantal_rolstoelplaatsen                                   964 non-null    object
 40  maximum_ondersteunende_snelheid                           962 non-null    object
 41  jaar_laatste_registratie_tellerstand                      999 non-null    object
 42  tellerstandoordeel                                        1000 non-null   object
 43  code_toelichting_tellerstandoordeel                       1000 non-null   object
 44  tenaamstellen_mogelijk                                    1000 non-null   object
 45  vervaldatum_apk_dt                                        998 non-null    object
 46  datum_tenaamstelling_dt                                   998 non-null    object
 47  datum_eerste_toelating_dt                                 1000 non-null   object
 48  datum_eerste_tenaamstelling_in_nederland_dt               998 non-null    object
 49  api_gekentekende_voertuigen_assen                         1000 non-null   object
 50  api_gekentekende_voertuigen_brandstof                     1000 non-null   object
 51  api_gekentekende_voertuigen_carrosserie                   1000 non-null   object
 52  api_gekentekende_voertuigen_carrosserie_specifiek         1000 non-null   object
 53  api_gekentekende_voertuigen_voertuigklasse                1000 non-null   object
 54  hoogte_voertuig                                           912 non-null    object
 55  maximum_massa_trekken_ongeremd                            397 non-null    object
 56  maximum_trekken_massa_geremd                              385 non-null    object
 57  verticale_belasting_koppelpunt_getrokken_voertuig         313 non-null    object
 58  registratie_datum_goedkeuring_afschrijvingsmoment_bpm     994 non-null    object
 59  registratie_datum_goedkeuring_afschrijvingsmoment_bpm_dt  994 non-null    object
dtypes: object(60)
memory usage: 468.9+ KB

In [13]:
rdw

,kenteken,voertuigsoort,merk,handelsbenaming,vervaldatum_apk,datum_tenaamstelling,inrichting,aantal_zitplaatsen,eerste_kleur,tweede_kleur,...,api_gekentekende_voertuigen_brandstof,api_gekentekende_voertuigen_carrosserie,api_gekentekende_voertuigen_carrosserie_specifiek,api_gekentekende_voertuigen_voertuigklasse,hoogte_voertuig,maximum_massa_trekken_ongeremd,maximum_trekken_massa_geremd,verticale_belasting_koppelpunt_getrokken_voertuig,registratie_datum_goedkeuring_afschrijvingsmoment_bpm,registratie_datum_goedkeuring_afschrijvingsmoment_bpm_dt
0,J184VX,Personenauto,SKODA,CITIGO,20260103,20221027,hatchback,4,ZWART,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,NaN,NaN,NaN,NaN,NaN,NaN
1,J459SZ,Personenauto,SKODA,CITIGO,20260103,20220103,hatchback,4,ZWART,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,NaN,NaN,NaN,NaN,NaN,NaN
2,L530TN,Personenauto,PEUGEOT,2008,20260103,20220103,MPV,5,ZWART,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,155,NaN,NaN,NaN,NaN,NaN
3,N004XK,Personenauto,BMW,IX XDRIVE50,20260103,20220330,stationwagen,5,GRIJS,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,170,750,2500,100,20211230,2021-12-30T00:00:00.000
4,N007TK,Personenauto,OPEL,VIVARO,20240103,20220103,MPV,9,WIT,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,190,750,1000,NaN,20220112,2022-01-12T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P189JN,Personenauto,AUDI,E-TRON S SPORTBACK,20260111,20220330,hatchback,5,ZWART,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,NaN,750,1800,NaN,20220215,2022-02-15T00:00:00.000
996,P348JR,Personenauto,AUDI,Q4 40 E-TRON,20260111,20220329,stationwagen,5,WIT,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,NaN,750,1000,NaN,20220325,2022-03-25T00:00:00.000
997,P419SF,Personenauto,PEUGEOT,2008,20260111,20220604,MPV,5,ZWART,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,NaN,NaN,NaN,NaN,20220519,2022-05-19T00:00:00.000
998,P426DN,Personenauto,AUDI,E-TRON S,20260111,20220211,stationwagen,5,ZWART,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,NaN,750,1800,NaN,20220209,2022-02-09T00:00:00.000
999,P538FB,Personenauto,AUDI,Q4 SPORTBACK 50 E-TRON,20260111,20220218,hatchback,5,ZWART,Niet geregistreerd,...,https://opendata.rdw.nl/resource/8ys7-d773.json,https://opendata.rdw.nl/resource/vezc-m2t6.json,https://opendata.rdw.nl/resource/jhie-znh9.json,https://opendata.rdw.nl/resource/kmfi-hrps.json,NaN,750,1200,NaN,20220210,2022-02-10T00:00:00.000

In [14]:
lpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10188 entries, 0 to 10187
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Started        10188 non-null  object
 1   Ended          10188 non-null  object
 2   TotalEnergy    10188 non-null  int64
 3   ConnectedTime  10188 non-null  float64
 4   ChargeTime     10188 non-null  float64
 5   MaxPower       10188 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 477.7+ KB

In [15]:
lpd

,Started,Ended,TotalEnergy,ConnectedTime,ChargeTime,MaxPower
0,2018-01-01 08:45:26,2018-01-01 09:16:45,1830,0.52190,0.52190,3524
1,2018-01-01 11:26:40,2018-01-01 14:36:13,28641,3.15920,2.30560,13680
2,2018-01-01 12:39:28,2018-01-01 20:58:10,65534,8.31170,8.31170,11200
3,2018-01-01 14:26:58,2018-01-02 06:36:55,10080,16.16580,4.30060,3360
4,2018-01-01 14:50:05,2018-01-01 17:21:50,7180,2.52920,2.06560,3758
...,...,...,...,...,...,...
10183,2018-12-31 16:25:27,2018-01-01 10:32:33,4300,18.11830,2.32583,3400
10184,2018-12-31 16:54:19,2018-12-31 18:33:33,5880,1.65390,1.65390,3572
10185,2018-12-31 18:29:44,2018-01-01 11:14:15,22020,16.74000,5.75000,4560
10186,2018-12-31 18:35:38,2018-12-31 22:08:37,6939,3.54970,3.25890,3277
10187,2018-12-31 19:34:55,2018-01-01 00:46:04,8713,5.18583,3.00056,3096

In [17]:
ocm.columns = ocm.columns.str.replace('.', '_') 
ocm.columns = ocm.columns.str.replace(' ', '_')

ocm = ocm.loc[:,~ocm.columns.duplicated()].copy()
ocm = ocm[ocm['Quantity'].notna()]
ocm = ocm[ocm['NumberOfPoints'] != 0]
ocm = ocm[ocm['AddressInfo_Latitude'] > 50]
ocm = ocm.drop(columns=['Connections','AddressInfo_DistanceUnit', 'GeneralComments', 'AddressInfo_RelatedURL', 'UsageCost', 'AddressInfo_AddressLine2', 'AddressInfo_AccessComments', 
                        'AddressInfo_ContactTelephone1', 'AddressInfo_ContactEmail', 'AddressInfo_ContactTelephone2', 'OperatorsReference', 'DataProvidersReference',
                        'Reference', 'Amps', 'Voltage', 'Comments'])
ocm.columns = map(str.lower, ocm.columns)
rdw.columns = map(str.lower, rdw.columns)
lpd.columns = map(str.lower, lpd.columns)

ocm['addressinfo_postcode'] = ocm['addressinfo_postcode'].str.replace('[a-zA-Z]', '')
ocm['addressinfo_postcode'] = ocm['addressinfo_postcode'].str.replace(' ', '')

C:\Users\yorri\AppData\Local\Temp\ipykernel_2448\4087531056.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ocm.columns = ocm.columns.str.replace('.', '_')
C:\Users\yorri\AppData\Local\Temp\ipykernel_2448\4087531056.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  ocm['addressinfo_postcode'] = ocm['addressinfo_postcode'].str.replace('[a-zA-Z]', '')

In [18]:
ocm['addressinfo_stateorprovince'].isna().sum()

206