# 1
Er zijn meerdere 1-dimensionale structuren in Python. De list, de numpy array en pandas Series zijn degene die je het meest zal gebruiken (numpy en pandas zijn packages).

Meer informatie over lists: https://www.youtube.com/watch?v=U8x0wpgU9Kk&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=4 

**A. Maak een list met de getallen 6 tot en met 10** (2 min)

In [59]:
[6, 7, 8, 9, 10]

[6, 7, 8, 9, 10]

**B. Geef de list de naam list1** (1 min)

In [60]:
list1 = [6, 7, 8, 9, 10]

In [61]:
import numpy as np
import pandas as pd
import os

**C. Zet de list om in een numpy array en pandas series. Importeer eerst deze twee packages** (5 min) <br>
Introductie in numpy: https://www.youtube.com/watch?v=WkK39hhP8Yk&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=6 <br>
Introductie in pandas: https://www.youtube.com/watch?v=s8G6SQLKvHs&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=7

In [62]:
pd_series = pd.Series(list1)

In [63]:
np_array = np.array(list1)

### **2. Tel 5 op bij alle getallen in list1, doe hetzelfde voor de array en series**

Voor de python list hebben we een list comprehension nodig. De numpy array en pandas Series kunnen het in één keer. <br>
(8 min)

In [64]:
newlist = [x + 5 for x in list1]
print(newlist)

[11, 12, 13, 14, 15]

In [65]:
pd_new = pd_series + 5
print(pd_new)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [66]:
np_new = np_array + 5
print(np_new)

[11 12 13 14 15]

## 3
**A. Maak een tweede list met de letters A,B,C,D,E en noem deze list2** (2 min)

In [67]:
list2 = ['A', 'B', 'C', 'D', 'E']

**B. Maak een pandas dataframe met de naam df die bestaat uit twee kolommen: list1 en list2** <br> (4 min). Voor achtergrond zie introductie in pandas (1C)

In [68]:
df1 = pd.DataFrame(np.column_stack([list1, list2]), 
                               columns=['list1', 'list2'])
print(df)

      Hair    Eye     Sex
0    Blond   Blue  Female
1    Brown  Brown    Male
2    Brown   Blue    Male
3    Brown  Green    Male
4    Brown  Hazel    Male
..     ...    ...     ...
587  Black  Green  Female
588    Red  Hazel  Female
589  Brown  Brown    Male
590  Blond   Blue  Female
591  Black  Brown  Female

[592 rows x 3 columns]

**C. Voeg een derde kolom toe aan de dataframe met 5 x de waarde TRUE** (3 min) <br>
Toevoegen kolommen: https://www.youtube.com/watch?v=GU6YNLxVdU8&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=10

In [69]:
df1['waarde'] = True
print(df)

      Hair    Eye     Sex
0    Blond   Blue  Female
1    Brown  Brown    Male
2    Brown   Blue    Male
3    Brown  Green    Male
4    Brown  Hazel    Male
..     ...    ...     ...
587  Black  Green  Female
588    Red  Hazel  Female
589  Brown  Brown    Male
590  Blond   Blue  Female
591  Black  Brown  Female

[592 rows x 3 columns]

## 4 
**Check of je working directory overeenkomt met de map waarin je de werkcolleges wil opslaan** (2 min)

In [70]:
cwd = os.getcwd()
print(cwd)

/Users/yorridvangroningen/Documents/HvA/minor_data_science/IDS

## 5
**Gebruik de functie 'read_csv()' uit het pandas package om de dataset in te laden en geef het de
naam *HairEyeColour*** (3 min)

In [71]:
df_raw = pd.read_csv('HairEyeColor.csv')

## 6 
**Wat voor type variabelen zitten er in de dataset?** (3 min) <br> Tip: gebruik de method 'info()'

object betekent 'tekst'

In [72]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hair    592 non-null    object
 1   Eye     592 non-null    object
 2   Sex     592 non-null    object
dtypes: object(3)
memory usage: 14.0+ KB

## 7 
**Hoeveel mannen en hoeveel vrouwen zitten er in de dataset?** (5 min) <br> Tip: gebruik method 'value_counts()' of functie 'crosstab()' uit pandas

In [93]:
df_women = df_raw[df_raw['Sex'] == 'Female']
df_raw.value_counts('Sex')

Sex
Female    313
Male      279
dtype: int64

## 8 
**Hoe veel roodharige personen met groene ogen zitten er in de dataset?** (5 min)

In [85]:
pd.crosstab(index=df_raw.Hair, columns=df_raw.Eye)

Eye    Blue  Brown  Green  Hazel
Hair
Black    20     68      5     15
Blond    94      7     16     10
Brown    84    119     29     54
Red      17     26     14     14

## 9
**Welk percentage van de mensen met blond haar heeft blauwe ogen?** (6 min) <br> Tip: Zie gebruik functie crosstab. Welke optie kan hiervoor gebruiken. https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html

In [84]:
pd.crosstab(index=df_raw.Hair, columns=df_raw.Eye, normalize=True)*100

Eye         Blue      Brown     Green     Hazel
Hair
Black   3.378378  11.486486  0.844595  2.533784
Blond  15.878378   1.182432  2.702703  1.689189
Brown  14.189189  20.101351  4.898649  9.121622
Red     2.871622   4.391892  2.364865  2.364865

## 10
**Hoeveel vrouwen hebben blond en haar en blauwe ogen?** (4 min)

In [86]:
pd.crosstab(index=df_women.Hair, columns=df_women.Eye)

Eye    Blue  Brown  Green  Hazel
Hair
Black    20     68      5     15
Blond    94      7     16     10
Brown    84    119     29     54
Red      17     26     14     14

## 11
**Voeg een kolom toe aan de dataset met de naam DarkHair. Deze kolom heeft de waarde
“Dark” indien de haarkleur Black of Brown is en “Light” indien de haarkleur Blond of Red is.** (8 min)

Tip: gebruik functie 'where()' uit numpy package of een list comprehension

Introductie in conditional statements: https://www.youtube.com/watch?v=WURqpxX_Rsw&list=PLwkTCAI_gJjW10xaAJpdqeQx7EQgFolfG&index=8

In [76]:
df_raw.loc[(df_raw['Hair'] == 'Black') | (df_raw['Hair'] == 'Brown'), 'Darkhair'] = 'Dark'
df_raw.loc[(df_raw['Hair'] == 'Red') | (df_raw['Hair'] == 'Blond'), 'Darkhair'] = 'Light'
print(df_raw)

      Hair    Eye     Sex Darkhair
0    Blond   Blue  Female    Light
1    Brown  Brown    Male     Dark
2    Brown   Blue    Male     Dark
3    Brown  Green    Male     Dark
4    Brown  Hazel    Male     Dark
..     ...    ...     ...      ...
587  Black  Green  Female     Dark
588    Red  Hazel  Female    Light
589  Brown  Brown    Male     Dark
590  Blond   Blue  Female    Light
591  Black  Brown  Female     Dark

[592 rows x 4 columns]

## 12
**Hoeveel personen hebben licht haar?** (3 min)

In [101]:
pd.crosstab(index=df_raw.Darkhair, columns=df_raw.Sex)

Sex       Female  Male
Darkhair
Dark         195   199
Light        118    80

## 13 
**Welk percentage van de personen heeft licht haar en blauwe ogen?** (3 min)

In [104]:
pd.crosstab(index=df_raw.Darkhair, columns=df_raw.Eye, normalize=True)*100

Eye            Blue      Brown     Green      Hazel
Darkhair
Dark      17.567568  31.587838  5.743243  11.655405
Light     18.750000   5.574324  5.067568   4.054054